.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -8px;
  right: -8px;
  transform: translate(100%, -100%);
  cursor: pointer;
  background-image: url(../../../images/close_button.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-sizing: border-box;
  padding: 0;
  transition: opacity 0.15s linear;
}

.popup__close:hover {
  opacity: .6;
}