.card-grid__caption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 282px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 25px 20px 31px 21px;
}